# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# VIRTUAL ENV
# =========================
venv/
env/
.venv/

# =========================
# ENV FILES
# =========================
.env

# =========================
# DATABASE
# =========================
*.db
*.sqlite3

# =========================
# LOG FILES
# =========================
*.log

# =========================
# IDE FILES
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# NODE MODULES (React/Vite)
# =========================
Frontend/vite-project/node_modules/

# =========================
# VITE BUILD FILES
# =========================
Frontend/vite-project/dist/

# =========================
# PYTEST / CACHE
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# ALEMBIC CACHE
# =========================
alembic/__pycache__/
alembic/versions/__pycache__/

# =========================
# SECRETS
# =========================
Tokens/*.key
*.pem

# =========================
# COVERAGE
# =========================
htmlcov/
.coverage

# =========================
# TEMP FILES
# =========================
*.tmp
*.temp